:root {
  --fontcolor: #3b87b3;
  --background: #1f3042;
  --third: #3de3dd;
  --flexbox: #636161;
}

.about p {
  margin-top: 1rem;
  line-height: 1.7;
  font-weight:480
}

.left {
  float:left;
  margin:0 2% 2% 0;
  max-width: 17%;
  max-height: 17%;
  border:var(--flexbox) solid 3px;
  min-width:120px;
  min-width:120px;
}

.middle{
  text-align: center;
}


.page-section {
  margin: 1% 0 0 1% ;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  border-color: black;
  border-radius: 1px;
  max-width: 49vw;
  width:50%
}

h2{
  text-align: center;
}

.flex-item {
  border: 5px solid var(--fontcolor);
  background-color: var(--flexbox);
  color:var(--fontcolor);
  min-height: 150px;
  max-height: 150px;
  flex-basis: 46.9%;
  display: flex;
  align-items: flex-end;
  padding: 0 0  0;
  margin: 0.4em;
  text-decoration: none;
  background-size: 150%;
}

.flex-item div {
  color:black;
  border:black solid 3px;
  background-color: #3a69b5;
  margin-left: 0%;
  min-width: 3vw;
  min-height:3vh;

}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.text-container {
  margin-top: 5%;
  display: flex; /* set the display property to flex */
}

.text-item {
  flex: 1; /* set the flex property to 1 to make the items equally sized */
}

.all{
  display:inline-flex;
  align-items:flex-start ;
  justify-content: left;
  width:100%
}

.work-1 {
  background-image: url(./assets/TravelProject.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover ;
  opacity: 60%;
}

.work-1:hover {
  opacity: 100%;
}

.work-2 {
  background-image: url(./assets/employee.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover ;
  opacity: 60%;
}

.work-2:hover {
  opacity: 100%;
}

.work-3 {
  background-image: url(./assets/note\ taker.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover ;
  opacity: 60%;
}

.work-3:hover {
  opacity: 100%;
}

.work-4 {
  background-image: url(./assets/password.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover ;
  opacity: 60%;
}

.work-4:hover {
  opacity: 100%;
}

.work-5 {
  background-image: url(./assets/password.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover ;
  opacity: 60%;
}

.work-5:hover {
  opacity: 100%;
}

.work-6 {
  background-image: url(./assets/password.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover ;
  opacity: 60%;
}

.work-6:hover {
  opacity: 100%;
}



.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  width:50%;
}

.list li {
  display: flex;
  align-items: center;
  margin-left: 9%;
}


.list li img {
  height: 60%;
}


.contact {
  margin-top: 4%;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact a {
  color: var(--background);
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-style: normal;
  background-image: linear-gradient(270deg, var(--fontcolor) 0%, var(--fontcolor) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 0 0.2rem 0.1rem;
  display: inline-block;
}

.contact a:hover {
  background-size: 100% 88%;
  color: #2074d4;
}